{% extends 'layout.html' %}
{% block content %}
	<div class="content-section" style="margin-top:100px;">
			<p><strong>Contact info:</strong></p>
			<ul class="list-unstyled">
				<br>
				<li>Project engineer: fiodar.hancharou@inria.fr</li>
				<br>
				<li>Project coordinator: andrey.polyakov@inria.fr</li>
				<br>
				<li><a href="http://controlhub.gforge.inria.fr/">ControlHub project</a></li>
			</ul>
	</div>
{% endblock %}
