{% extends 'layout.html' %}

{% block content %}
	<div class="content-section" style="margin-top:100px;">
		<div class="row justify-content-md-center">
			<div class="scheme">
				<h1>The submission was made at {{Date}} and its owner is {{Username}}</h1><a href= {{Link}}><hr><small>Click here to download</small> </a>
			</div>
		</div>
    </div>
	<style>
	.scheme {
        float: center;
        width: 750px;
	}
	.scheme a {
		display: block;
		float: center;
		background-color: #8cbbd3;
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		text-decoration: none;
		padding:11px 51px;
	}
	</style>
{% endblock %}
