{% extends 'layout.html' %}
{% block content %}
    <div class="content-section" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <h3>Please, choose the task type:</h3>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                {% if exp_type == 'stabilisation' %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-primary ">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'step_signal' %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'ref_trajectory' %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-primary">Continuous trajectory</a>
                {% else %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% endif %}
            </div>
        </div>
        {% include 'how_to.html' %}
    </div>
{% endblock %}
