{% extends 'layout.html' %}

{% block content %}
    <div class="content-section" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <h1>Please, choose the task type:</h1>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                {% if exp_type == 'stabilisation' %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-primary ">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'step_signal' %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'ref_trajectory' %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-primary">Continuous trajectory</a>
                {% else %}
                    <a href={{ url_for('experiment.experiments', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('experiment.experiments', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('experiment.experiments', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content-section">
        <div class="row justify-content-md-center mt-3">
            <h3>{{ exp_type }}</h3>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="scheme2" style="background-image: url(../static/img/background1.jpg);">
                <div class="block1">
                    <font style="font-family: Impact; font-size: 24px; color: #242424;">
                        Plant
                    </font>

                    <br>
                    <img src="/static/img/practical.jpg">
                </div>
                <div class="block2" style="background-image: url(../static/img/background2.jpg);">

                    <div class="block4" style="top:40px;right:50px;">
                        <font style="font-family: Impact; font-size: 24px; color: #242424;">
                            Observer
                        </font>
                        <br>
                        <input type="file" id="fileinput_3" name="fileinput_3"/>
                    </div>
                    <div class="block4" style="top:40px;left:50px;">

                        <font style="font-family: Impact; font-size: 24px; color: #242424;">
                            Controller
                        </font>
                        <input type="file" id="fileinput_2" name="fileinput_2"/>
                    </div>
                    <div class="block4" style="top:120px;right:200px;">
                        <font style="font-family: Impact; font-size: 24px; color: #242424;">
                            Initial state
                        </font>
                        <input type="file" id="fileinput_1" name="fileinput_1"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <form id="usrform" method="POST" action={{ url_for('experiment.experiments', exp_type=exp_type) }}>
                {{ form.csrf_token }}
                <br>
                <fieldset class="form-group">
                    <div class="form-group">
                        <div class="row justify-content-md-center mt-3">
                            <p><strong>User-defined control:</strong></p>
                        </div>
                        {% if form.mfile2.errors %}
                            {{ form.mfile2(class="form-control is-invalid",rows="10", cols="100") }}
                            <div class="invalid-feedback">
                                {% for error in form.mfile2.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.mfile2(class="form-control form-control-lg", rows="10", cols="100") }}
                        {% endif %}
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="row justify-content-md-center mt-3">
                            <p><strong>User defined observer:</strong></p>
                        </div>
                        {% if form.mfile3.errors %}
                            {{ form.mfile3(class="form-control form-control-lg is-invalid",rows="10", cols="100") }}
                            <div class="invalid-feedback">
                                {% for error in form.mfile3.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.mfile3(class="form-control form-control-lg", rows="10", cols="100") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-md-center mt-3">
                            <p><strong>Initialisation of internal variables of controller and observer:</strong></p>
                        </div>
                        {% if form.mfile1.errors %}
                            {{ form.mfile1(class="form-control is-invalid", rows="2", cols="100") }}
                            <div class="invalid-feedback">
                                {% for error in form.mfile1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.mfile1(class="form-control form-control-lg", rows="2", cols="100") }}
                        {% endif %}
                    </div>
                    <!--
                    <br>
                    <p>Insert the number of experiment runs</p>
                    {{ form.mult_run }}
                    {% if form.mult_run.errors %}
                        <ul class="errors">
                            {% for error in form.mult_run.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    -->
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-md-center mt-3">
                            <p><strong>Insert your submission name:</strong></p>
                        </div>
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                <div class="row justify-content-md-center mt-3">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    function readSingleFile1(evt, txtarea) {
        //Retrieve the first (and only!) File from the FileList object
        var f = evt.target.files[0];

        if (f) {
            var r = new FileReader();
            r.onload = function (e) {
                var contents = e.target.result;
                document.getElementById("ReadResult1").innerHTML = contents;
            }
            r.readAsText(f);
        } else {
            alert("Failed to load file");
        }
    }

    document.getElementById('fileinput_1').addEventListener('change', readSingleFile1, false);

    function readSingleFile2(evt, txtarea) {
        //Retrieve the first (and only!) File from the FileList object
        var f = evt.target.files[0];

        if (f) {
            var r = new FileReader();
            r.onload = function (e) {
                var contents = e.target.result;
                document.getElementById("ReadResult2").innerHTML = contents;
            }
            r.readAsText(f);
        } else {
            alert("Failed to load file");
        }
    }

    document.getElementById('fileinput_2').addEventListener('change', readSingleFile2, false);

    function readSingleFile3(evt, txtarea) {
        //Retrieve the first (and only!) File from the FileList object
        var f = evt.target.files[0];

        if (f) {
            var r = new FileReader();
            r.onload = function (e) {
                var contents = e.target.result;
                document.getElementById("ReadResult3").innerHTML = contents;
            }
            r.readAsText(f);
        } else {
            alert("Failed to load file");
        }
    }

    document.getElementById('fileinput_3').addEventListener('change', readSingleFile3, false);
    </script>

	<style>
	.scheme2 {
		height: 450px;
		width: 900px;
		position: relative;
	}

	.scheme2 a {
		width: 100px;
		height: 20px;
		display: block;
		float: center;
		background-color: #8cbbd3;
		color: #ffffff;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		text-decoration: none;
		margin-top: 10px;
		left: 50px;
	}

	.block1 {
		width: 200px;
		height: 150px;
		background-color:#F4EBE1;
		position: absolute;
		border-radius: 50px;
		top: 20px;
		left: 350px;
		text-align: center
	}

	.block1 img {
		width: 70px;
		height: 100px;
	}

	.block2 {
		width: 600px;
		height: 200px;
		background-color:#F4EBE1;
		position: absolute;
		border-radius: 50px;
		bottom: 20px;
		left: 150px;
		text-align: center
	}

	.block4 {
		display: inline-block;
		width: 200px;
		height: 70px;
		background-color:#FF6600;
		position: absolute;
		border-radius: 20px;
		text-align: center
	}

	.block4 a {
		display: block;
		float: center;
		background-color: #8cbbd3;
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		text-decoration: none;
		padding:2px 20px;
		border-radius: 10px;
	}

    .block4 input {
		width: 100px;
	}
	</style>
{% endblock %}
