<div class="footer">
</div>

<style>
    .footer {
        background-color: #f7f7f7;
        width: 100%;
        float: left;
        height: 140px;
        text-align: center;
        color: #333333;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
    }

    .footer a {
        color: inherit;
    }
</style>
