{% extends 'layout.html' %}
{% block content %}
	<div class="content-section" style="margin-top:100px;">
		<div class="row justify-content-md-center">
			<h1>Rotary Inverted Pendulum</h1>
		</div>
		<div class="row justify-content-md-center mt-5">
			<div class="col-md-auto">
				<img src="/static/img/qube.png" style="width:400px;height:400px;border-radius:50%;">
			</div>
			<div class="col-md-6 align-self-center">
					<div class="row">
						<div class="col">
							<h3 class="text-center">Description of control challenge</h3>
						</div>
						<div class="w-100"></div>
						<div class="col mt-3">
							<p><strong>The control aim is to stabilise pendulum link at upper unstable position and:</strong></p>
							<ul class="list-unstyled">
								<li>- to stabilise rotary arm at zero position</li>
								<br>
								<li>- to track the step signal by the rotary arm</li>
								<br>
								<li>- to track continuous trajectory by the rotary arm</li>
							</ul>
						</div>
						<div class="w-100"></div>
						<div class="col mt-3">
							<p>As an experimental plarform, the rotary inverted pendulum QUBE-Servo-2 is selected (see <a href="https://www.quanser.com/products/qube-servo-2/">Quanser webpage</a>)</p>
						</div>
					</div>
			</div>
		</div>
		{% include 'how_to.html' %}
	</div>
{% endblock %}
