<div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
        <h3 class="text-center">How to make experiment</h3>
    </div>
</div>

<div class="row justify-content-md-center mt-3" style="background-image: url(../static/img/background_how_to.jpg)">
    <div class="col-md-auto">
        <a class="btn btn-primary" href={{ url_for('main.tech_data') }}>Download<br>simulator</a>
    </div>
    <div class="col-md-auto align-self-center">
        <img src="/static/img/arrow.jpg" style="width:30px;height:30px;">
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary" href={{ url_for('main.tech_data') }}>Develop<br>solution</a>
    </div>
    <div class="col-md-auto align-self-center">
        <img src="/static/img/arrow.jpg" style="width:30px;height:30px;">
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary" href={{ url_for('experiment.exp_start') }}>Submit<br>solution</a>
    </div>
    <div class="col-md-auto align-self-center">
        <img src="/static/img/arrow.jpg" style="width:30px;height:30px;">
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary" href={{ url_for('table.results') }}>Check<br> the result</a>
    </div>
</div>
