<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
		<title>ControlHub - {{ title }}</title>
	{% else %}
		<title>ControlHub</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">
					<img alt="Qries" src="/static/img/ControlHub_gr2.jpg">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">
						<!-- Navbar Left Side -->
						<a class="nav-item nav-link" href={{ url_for('main.home') }}>Home</a>
						<a class="nav-item nav-link" href={{ url_for('main.tech_data') }}>Downloads</a>
						<a class="nav-item nav-link"href={{ url_for('experiment.exp_start') }}>Make an experiment</a>
						<a class="nav-item nav-link"href={{ url_for('video.video_page') }}>Show room</a>
						<a class="nav-item nav-link"href={{ url_for('table.results') }}>Table of results</a>
						<a class="nav-item nav-link" href={{ url_for('main.about') }}>About</a>
					</div>
					<!-- Navbar Right Side -->
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="https://inria.fr/fr">
							<img alt="Qries" src="/static/img/Inria_gr2.jpg">
						</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" class="container" style="max-width:100%;">
		{% block content %}{% endblock %}
	</main>
	<!--
	{% include 'footer.html' %}
	-->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
