{% extends 'layout.html' %}
{% block content %}
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  TeX: {
			 equationNumbers: {  autoNumber: "AMS"  },
			 extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
		  }
		});
	</script>
	<script type="text/javascript"
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>

    <div class="content-section" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <h3>Please, choose the task type you want to see the results for:</h3>
        </div>

        <div class="row justify-content-md-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                {% if exp_type == 'stabilisation' %}
                    <a href={{ url_for('table.tables', exp_type='stabilisation') }} class="btn btn-primary">Stabilisation</a>
                    <a href={{ url_for('table.tables', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('table.tables', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'step_signal' %}
                    <a href={{ url_for('table.tables', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('table.tables', exp_type='step_signal') }} class="btn btn-primary">Step signal</a>
                    <a href={{ url_for('table.tables', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'ref_trajectory' %}
                    <a href={{ url_for('table.tables', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('table.tables', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('table.tables', exp_type='ref_trajectory') }} class="btn btn-primary">Continuous trajectory</a>
                {% else %}
                    <a href={{ url_for('table.tables', exp_type='stabilisation') }} class="btn btn-outline-primary">Stabilisation</a>
                    <a href={{ url_for('table.tables', exp_type='step_signal') }} class="btn btn-outline-primary">Step signal</a>
                    <a href={{ url_for('table.tables', exp_type='ref_trajectory') }} class="btn btn-outline-primary">Continuous trajectory</a>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-md-center mt-2">
			  <a class="btn btn-primary" data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseExample">
				  Additional information
			  </a>
			<div class="collapse" id="collapseInfo">
				<div class="card card-body">
					<h1 style="font-size:20px;margin-top:0px;margin-bottom:0px;">The following table summarises the perfomance of submitted controller according to the following criteria:</h1>
					<h1 style="font-size:20px;margin-top:0px;margin-bottom:0px;"> \(||e_{q}||_{L^2} = ||q - q_{ref}||_{L^2}\) and \(||e_{q}||_{L^\infty} = ||q - q_{ref}||_{L^\infty}\) </h1>
					<h1 style="font-size:20px;margin-top:0px;margin-bottom:0px;"> where \(e_q\) is an error, \(q \in [\theta, \alpha, \theta', \alpha']\), and \(L^{2}, L^\infty\) norms are computed on the time interval [3, 20] sec </h1>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
