{% extends 'layout.html' %}
{% block content %}
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  TeX: {
			 equationNumbers: {  autoNumber: "AMS"  },
			 extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
		  }
		});
	</script>
	<script type="text/javascript"
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>

    <div class="content-section" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <h3>Please, choose the task type you want to see the results for:</h3>
        </div>

        <div class="row justify-content-md-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                {% if exp_type == 'stabilisation' %}
                    <a href="{{ url_for('table.tables', exp_type='stabilisation') }}" class="btn btn-primary">Stabilisation</a>
                    <a href="{{ url_for('table.tables', exp_type='step_signal') }}" class="btn btn-outline-primary">Step signal</a>
                    <a href="{{ url_for('table.tables', exp_type='ref_trajectory') }}" class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'step_signal' %}
                    <a href="{{ url_for('table.tables', exp_type='stabilisation') }}" class="btn btn-outline-primary">Stabilisation</a>
                    <a href="{{ url_for('table.tables', exp_type='step_signal') }}" class="btn btn-primary">Step signal</a>
                    <a href="{{ url_for('table.tables', exp_type='ref_trajectory') }}" class="btn btn-outline-primary">Continuous trajectory</a>
                {% elif exp_type == 'ref_trajectory' %}
                    <a href="{{ url_for('table.tables', exp_type='stabilisation') }}" class="btn btn-outline-primary">Stabilisation</a>
                    <a href="{{ url_for('table.tables', exp_type='step_signal') }}" class="btn btn-outline-primary">Step signal</a>
                    <a href="{{ url_for('table.tables', exp_type='ref_trajectory') }}" class="btn btn-primary">Continuous trajectory</a>
                {% else %}
                    <a href="{{ url_for('table.tables', exp_type='stabilisation') }}" class="btn btn-outline-primary">Stabilisation</a>
                    <a href="{{ url_for('table.tables', exp_type='step_signal') }}" class="btn btn-outline-primary">Step signal</a>
                    <a href="{{ url_for('table.tables', exp_type='ref_trajectory') }}" class="btn btn-outline-primary">Continuous trajectory</a>
                {% endif %}
            </div>
        </div>
		<div class="row justify-content-md-center mt-2">
			  <a class="btn btn-primary" data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseExample">
				  Additional information
			  </a>
			<div class="collapse" id="collapseInfo">
				<div class="card card-body">
					<h1 style="font-size:20px;margin-top:0px;margin-bottom:0px;">The following table summarises the perfomance of submitted controller according to the following criteria:</h1>
					<h1 style="font-size:20px;margin-top:0px;margin-bottom:0px;"> \(||e_{q}||_{L^2} = ||q - q_{ref}||_{L^2}\) and \(||e_{q}||_{L^\infty} = ||q - q_{ref}||_{L^\infty}\) </h1>
					<h1 style="font-size:20px;margin-top:0px;margin-bottom:0px;"> where \(e_q\) is an error, \(q \in [\theta, \alpha, \theta', \alpha']\), and \(L^{2}, L^\infty\) norms are computed on the time interval [3, 20] sec </h1>
				</div>
			</div>
		</div>
    </div>
	<!--
	{% for key in cols_show %}
		<input type="checkbox" id="{{ key }}" name="{{ key }}" value="y">
		<label for="{{ key }}">{{ columns[key] }}</label>
	{% endfor %}
	-->
	<div class="content-section">
		<form id="tableform" method="POST" action="{{ url_for('table.tables', exp_type=exp_type) }}">
			{{ form.csrf_token }}
			<br>
			<div class="row justify-content-md-center mt-2">
				<a class="btn btn-primary" data-toggle="collapse" href="#collapseCols" role="button" aria-expanded="false" aria-controls="collapseExample">
					  Hide/show columns
				</a>
				<div class="collapse mt-2" id="collapseCols">
					{% for i in cols_show %}
						{% if cols_show[i] == 'y' %}
							{{ form[i](checked="checked") }}
							<label for="{{ i }}">{{ columns[i] }}</label>
						{% else %}
							{{ form[i](unchecked="unchecked") }}
							<label for="{{ i }}">{{ columns[i] }}</label>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<p>Search by the submission name:</p>
			{{ form.username(onchange="submit()", value=submname) }}
			{% if form.username.errors %}
				<ul class="errors">
					{% for error in form.username.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{{ form.submit(class="btn btn-outline-info") }}
		</form>
	</div>
	<div class="table-section">
		<div class="table-wrapper">
			<div class="table-scroll">
					<table id="control_quality">
						<thead>
							<tr>
								{% if sort_col == 'id' %}
									<th>ID ↓</th>
								{% else %}
									<th>ID </th>
								{% endif %}
								<th>Submission name</th>
								<th>Date</th>
								<th>Results</th>
								{% for i in cols_show %}
									{% if cols_show[i]=='y' %}
										{% if i == sort_col %}
											<th><a href="{{ url_for('table.tables', exp_type=exp_type, sort_col=i, sort_dir='asc') }}" class="btn btn-primary">{{ columns[i] }} ↑</a></th>
										{% else %}
											<th><a href="{{ url_for('table.tables', exp_type=exp_type, sort_col=i, sort_dir='asc') }}" class="btn btn-outline-primary">{{ columns[i] }}</a></th>
										{% endif %}
									{% endif %}
								{% endfor %}
							<tr>
						</thead>

						<tbody>
							{% for i in data.items %}
								<tr>
									<td>{{ i.id }}</td>
									<td>{{ i.username }}</td>
									<td>{{ i.date }}</td>
									<td><a href="{{ url_for('table.flask_link', page=data.page, id=i.id) }}">Link</a></td>
									{% for j in cols_show %}
										{% if cols_show[j]=='y'%}
											<td>{{ i[j] }}</td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>
		</div>

		{% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
				{% if data.page == page_num %}
					<a class="btn btn-info my-3" href="{{ url_for('table.tables', exp_type=exp_type, sort_col=sort_col, sort_dir=sort_dir, page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="btn btn-outline-info my-3" href="{{ url_for('table.tables', exp_type=exp_type, sort_col=sort_col, sort_dir=sort_dir, page=page_num) }}">{{ page_num }}</a>
				{% endif %}
			{% else %}
			...
			{% endif %}
		{% endfor %}
	</div>
	<style>
    .table-wrapper {
    	position:relative;
	}

	.table-scroll {
	  overflow:auto;
	  margin-top:20px;
	}

	#control_quality {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
	}

	#control_quality td, th {
        border: 1px solid #ddd;
        padding: 8px;
	}

	#control_quality tr:nth-child(even) {
        background-color: #f2f2f2;
	}

	#control_quality tr:hover {
	    background-color: #ddd;
	}

	#control_quality th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #5f788a;
        color: white;
	}
	#control_quality th a {
        color: white;
	}
    </style>
{% endblock %}
