{% extends 'layout.html' %}
{% block content %}
	<div class="content-section" style="margin-top:100px;">
		<div class="row justify-content-md-center">
			<h1>Downloads</h1>
		</div>
		<div class="row justify-content-md-center mt-3">
			<div class="col-md-6">
				<div class="row justify-content-md-center">
					<h3 class="text-center">Mathematical model</h3>
				</div>
				<div class="row justify-content-md-center mt-2">
					<a class="btn btn-info" href="/static/content_files/Rotary Pendulum Workbook.pdf" target="_blank">Open file here</a>
				</div>
				<div class="row justify-content-md-center mt-2">
					<img src="/static/img/theoretical.png" style="width: 200px;height: 200px;">
				</div>
			</div>

			<div class="col-md-6">
				<div class="row justify-content-md-center">
						<h3 class="text-center">Simulink model</h3>
				</div>
				<div class="row justify-content-md-center mt-2">
					<a class="btn btn-info" href="/static/content_files/Rotary_Inverted_Pendulum_sim.mdl">Download file here</a>
				</div>
				<div class="row justify-content-md-center mt-2">
					<img src="/static/img/simulink.png" style="width: 450px;height: 200px;">
				</div>
			</div>
		</div>
		{% include 'how_to.html' %}
	</div>
{% endblock %}
