{% extends 'layout.html' %}
{% block content %}
	<div class="content-section" style="margin-top:100px;">
		<div class="row justify-content-md-center">
			<h5>Experiment takes 2-3 minutes. The solution is tested initially on a simulator,</h5>
			<h5>next it is validated on the real experimental setup. The camera installed in the lab</h5>
			<h5>allows the user to survey the experiment. The results of the experiment can be found <a href={{ url_for('table.results') }}>here</a></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="content-section">
				<div class="row justify-content-md-center">
					<h3 class="text-center">Online video</h3>
				</div>
				<div class="row justify-content-md-center" style="margin-top:66px;">
					<img src={{ url_for('video.video_feed') }}>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="content-section">
				<div class="row justify-content-md-center">
					<h3 class="text-center">Recent submissions</h3>
				</div>
				<div class="row justify-content-md-center">
					{% for submission in submissions %}
						<ul id="submission">
							<li><span class="field-value">{{ submission.folder }}</span>							</li>
							<br>
						</ul>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
